<div class="box_menu">
  <div class="cn">
    <div class="row c_top pb-1 pt-1 a_top">
      <div class="col-6 ">
        <a href="#">
          ติดต่อเรา 02-832-5567
        </a>
      </div>
      <div class="col-6 d-flex justify-content-end ">
        <a href="#" class="mr-4">สมัครเป็นเครือข่ายสินค้า A Farm Mart</a>
        <a href="#" class="mr-4">ช่วยเหลือ</a>
        <a href="#">สมัครสมาชิก</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12  d-flex align-items-center mt-2">
        <div class="ml-2 mr-3"><img src="/assets/img/afarm_logo.png" alt="logo" width="120px"></div>
        <div style="width: 100%;">
          <input class="form-control text_form" style="padding-left: 35px" type="text" name="sch" id="sch"
            placeholder="ค้นหาสินค้า">
          <i class="fas fa-search"
            style="position: absolute; top: 38%; margin-left: 10px; color: rgb(134, 134, 134);"></i>
        </div>

        <div class="d-flex mr-3 ml-3" style="align-items: center;">
          <i class="fas fa-shopping-basket fa-lg c_icon"></i>
          <span class="ml-3 mr-3" style="color: rgb(207, 159, 0);">0</span>
          <span style="color: rgb(87, 87, 87);">ชิ้น </span>
          <div class="sep"></div>
          <i class="fas fa-lock fa-lg mr-3 c_icon"></i>
          <a href="#" style="color: rgb(207, 159, 0) ;width: max-content ; text-decoration: none;">เข้าสู่ระบบ</a>
        </div>
      </div>
    </div>
    <hr>
    <!-- a_menu -->


    <div class="row ">
      <div class="col-12 pt-1">
        <div class="nav">
          <ul class="row  a_menu">
            <li><a href="#" (click)="active_menu(1)" id="1">หน้าหลัก</a></li>
            <li><a href="#" (click)="active_menu(2)" id="2">เกษตรอินทรีย์ และอาหารปลอดภัย</a></li>
            <li><a href="#" (click)="active_menu(3)" id="3">ผลิตผลทางการเกษตร</a></li>

            <li>
              <a href="#" (click)="active_menu(4)" id="4">พันธุ์พืช</a>
              <div class="pt-2">
                <ul>
                  <li>
                    <div class="d-flex align-items-center" style="position: relative;">
                      <a href="#">พืช</a>
                      <i class="fas fa-chevron-right" style="margin-left: auto; font-size: 15px;"></i>
                    </div>
                    <ul>
                      <li>
                        <div class="d-flex align-items-center">
                          <a href="#">พืช1</a>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex align-items-center">
                          <a href="#">พืช2</a>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex align-items-center">
                          <a href="#">พืช3</a>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <a href="#">ผักและผลไม้</a>
                      <i class="fas fa-chevron-right" style="margin-left: auto; font-size: 15px;"></i>
                    </div>

                    <ul>
                      <li>
                        <div class="d-flex align-items-center">
                          <a href="#">testlist1</a>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex align-items-center">
                          <a href="#">testlist2</a>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex align-items-center">
                          <a href="#">testlist3</a>
                        </div>
                      </li>
                    </ul>
                  </li>
                  
                </ul>
              </div>

            </li>
          </ul>


        </div>

        <!-- <ul>
          <li><a href="#">Photoshop</a></li>
          <li><a href="#">Illustrator</a></li>
          <li><a href="#">Web Design</a>
            <ul>
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
            </ul>
          </li>
        </ul> -->

        <!-- 

        <div class="dropdown">
          
          <div class="dropdown-content">
            <a *ngFor="let data of data_test" style="padding-top: 8px; padding-bottom: 8px;" href="#">{{data}}</a>
          </div>
        </div>


        <div class="dropdown">
          <a class="dropbtn" href="#" (click)="active_menu(5)" id="5">ผลิตภัณฑ์ชุมชน</a>

          <div class="dropdown-content">
            <a *ngFor="let data of data_test" class="d-flex"
              style="padding-top: 8px; padding-bottom: 8px;display: block !important;" href="#">{{data}}<i
                class="fas fa-chevron-right mr-auto"></i></a>


            <div class="d-flex v-center"><a class="flex d-block p-2">ผลิตภัณฑ์เกษตรแปรรูป</a><i
                class="mr-2 fas fa-chevron-right" style="color: #ccc"></i></div>


          </div>
        </div>



        <a href="#" (click)="active_menu(6)" id="6">บริการด้านการเกษตร</a>
        <a href="#" (click)="active_menu(7)" id="7">ชุมชนต้องเที่ยว</a>
        <a href="#" (click)="active_menu(8)" id="8">สินค้าตามภูมิภาค</a>
        <a href="#" (click)="active_menu(9)" id="9">ของดี 77 จังหวัด</a> -->
      </div>
    </div>




  </div>

</div>

<div style="padding-top: 145px; ">
  <router-outlet></router-outlet>
</div>

<div style="background-color: blanchedalmond; padding-bottom: 2rem;margin-top: 2rem;">
  <div class="container text-center">
    <div class="row f_footer mb-3 pt-5">
      <span class="mr-3" style="color: rgb(201, 150, 57);">ติดตามข่าวสารจาก</span>
      <img src="/assets/img/afarm_logo.png" alt="logo" width="120px">
    </div>
    <div class="row f_footer mb-3" style="font-size: 16px;">
      <div style="font-size: 14px;"> รับส่วนลด และ ข่าวสารกิจกรรมต่างๆ จาก A Farm Mart<br>
        เพื่อรับสิทธิพิเศษต่างๆก่อนใคร</div>
    </div>
    <div class="d-flex pb-3" style="position: relative; max-width: 400px; margin: auto;padding-bottom: 0px !important;">
      <input autocomplete="off" class="form-control text_form" placeholder="ระบุ e-mail เพื่อรับข่าวสาร"
        style="border: solid .1rem rgb(119, 67, 0);" type="email">
      <a href="#" class="text-white d-flex search" style="background-color: rgb(119, 67, 0)">ส่ง </a>
    </div>
  </div>
</div>

<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-6 col-sm-6 col-md-3 min-width-800-md">
      <div class="a_footer mb-2">ติดตามเรา</div>
      <div class="d-flex">
        <a class="f_icon d-flex mr-2" href="#"> <i class="fab fa-facebook-f f_as" style="color: rgb(0, 0, 177);"></i></a>
        <a class="f_icon d-flex mr-2" href="#"> <i class="fab fa-twitter f_as" style="color: rgb(14, 219, 255);"></i></a>
        <a class="f_icon d-flex mr-2" href="#"> <i class="fab fa-pinterest-p f_as" style="color: rgb(209, 0, 0);"></i></a>
        <a class="f_icon d-flex mr-2" href="#"> <i class="fab fa-instagram f_as" style="color: rgb(241, 0, 161);"></i></a>
      </div>
      <div>
        <img src="/assets/img/qr_code.png" alt="" style="width:170px; height:170px ">
      </div>
      <div class="a_footer pb-2">
        <span style="color: rgb(94, 94, 94);">Line ID: @afarmmartshop</span>
      </div>

    </div>
    <div class="col-6 col-sm-6 col-md-3 min-width-800-md">
      <div class="a_footer mb-2">
        <p>ศูนย์ดูแลลูกค้า</p>
        <ul>
          <li><a href="#">ศูนย์ช่วยเหลือ</a> </li>
          <li><a href="#">คำถามที่พบบ่อย</a> </li>
          <li><a href="#">การรับประกันและบริการ</a> </li>
          <li><a href="#">บริการหลังการขาย</a> </li>
          <li><a href="#">การคืนสินค้า</a> </li>
          <li><a href="#">การส่งสินค้า</a> </li>
        </ul>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-3 min-width-800-md">
      <div class="a_footer mb-2">
        <p>ข้อมูล</p>
        <ul>
          <li><a href="#">เกี่ยวกับเรา</a> </li>
          <li><a href="#">Franchise A Farm Mart</a> </li>
          <li><a href="#">ข้อตกลงและเงื่อนไข</a> </li>
          <li><a href="#">นโยบายความเป็นส่วนตัว</a> </li>
        </ul>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-3 min-width-800-md">
      <div class="a_footer mb-2">
        <p>ข้อมูลติดต่อ</p>
        <ul>
          <li class="d-flex mb-2">
            <div class="l_footer">
              <label>ที่อยู่</label>
            </div>
            <span>21/115 หมู่ที่ 6 ซอยชินเขต 2 ถนนงามวงศ์วาน
              แขวงทุ่งสองห้อง เขตหลักสี่ กรุงเทพมหานคร 10210</span>
          </li>
          <li class="d-flex mb-2">
            <div class="l_footer">
              <label>โทร</label>
            </div>
            <span>02-832-5567</span>
          </li>
          <li class="d-flex mb-2">
            <div class="l_footer">
              <label>อีเมล</label>
            </div>
            <span>afarmmart@tabco.co.th</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="row pt-3 align-items-center">
    <div class="col-6 a_footer"><span style="font-size: 14px;">สงวนลิขสิทธิ์ © 2019 โดย บริษัท ไทยธุรกิจเกษตร
        จำกัด</span></div>
    <div class="col-6 text-right a_footer d-flex" style="justify-content:flex-end;">
      <div class="mr-3 align-self-center">
        <span style="font-size: 14px;">ผู้สนับสนุนอย่างเป็นทางการ</span> <br>
        <span style="font-size: 14px; color: black;">ธนาคารเพื่อการเกษตรและสหกรณ์การเกษตร</span></div>
      <div><img src="/assets/img/baac_logo.png" alt="" style="width:70px; height:70px "></div>

    </div>
  </div>
</div>