.btn-province {
  color: #c49d45;
  background-color: #ffffff;
  border-color: #c49d45;
}

.btn-item {
  color: #fff;
  background-color: #c49d45;
  border-color: #c49d45;
}

.btn-province:hover {
  color: #c49d45;
}

.btn-item:hover {
  color: #ffffff;
}

.scollbar {
  height: 315px;
  width: 140px; 
  overflow-y: auto;
}