$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: rgb(247, 2, 2) !default;
$slick-dot-color: rgb(255, 4, 4) !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

.btn-province {
  color: #c49d45;
  background-color: #ffffff;
  border-color: #c49d45;
  box-shadow: none;
}

.btn-item {
  color: #fff;
  background-color: #c49d45;
  border-color: #c49d45;
  box-shadow: none;
}

.btn-province:hover {
  color: #c49d45;
}

.btn-item:hover {
  color: #ffffff;
}

.scollbar {
  height: 315px;
  width: 140px;
  overflow-y: auto;
}
.carousel-indicators {
  z-index: 1 !important;
}

div.relative {
  position: relative;
}

.btn-outline {
  color: #c49d45;
  border-color: #c49d45;
  box-shadow: none;
}

.btn-outline :hover {
  color: #c49d45;
  border-color: #c49d45;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  left: 55%;
  bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}

.card {
  transition: 0.3s;
  width: 40%;
  outline: none;
  cursor: pointer;
}

.slick-slide {
  outline: none;
}

.picture {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: "Kanit", sans-serif;
  user-select: none;
}

.cut-text {
  text-overflow: ellipsis; /* เพิ่ม ... จุดจุดจุดท้ายสุด */
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.pic-box {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.fill-dock {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

div {
  font-family: "Prompt", sans-serif;
}

span {
  font-family: "Prompt", sans-serif;
}

// #custom .slick-prev:before .slick-next:before {
//   font-family: "slick";
//   font-size: 40px;
//   line-height: 1;
//   color: red;
//   opacity: 0.75;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

::ng-deep {
  .customslick .slick-prev:before {
    color: #c49d45;
    // border-radius: 50%;
    // background-color: #ddd;
  }

  .customslick .slick-next:before {
    color: #c49d45;
    // border-radius: 50%;
    // background-color: #ddd;
  }

  .customslick .slick-dots li.slick-active button:before {
    color: #c49d45;
    opacity: 0.75;
  }

  .slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: #c49d45;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
